// CUSTUM OVERRIDES //
.breakpointBadge {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9999;
}

.rounded-15 {
  border-radius: 15px !important;
}
.rounded-top-15 {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}
.rounded-bottom-15 {
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.light {
  background: $white;
  color: $black;
  .card {
    background: $white;
    color: $black;
    border: none;
  }
  input, textarea, select {
    background: $white !important;
    color: $black !important;
    border: 1px solid $grey-800 !important;
    border-radius: 5px !important;
  }
}
.dark {
  background: $grey-900;
  color: $white;
  .card {
    background: $grey-900;
    color: $white;
    border: none;
  }
  input, textarea, select {
    background: $grey-900 !important;
    color: $white !important;
    border: 1px solid $grey-800 !important;
    border-radius: 5px !important;
  }
}
.transparent {
  background: transparent;
  color: inherit;
  .card {
    background: transparent;
    color: inherit;
    border: none;
  }
  input, textarea, select {
    background: transparent !important;
    color: inherit !important;
    border: none !important;
  }
}