html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.hover:hover {
  font-weight: bold;
}

.form-control-loadable {
  color: $black !important;
  border: none !important;
  box-shadow: none !important;
  transition: all 0.2s;
  height: 32px;
  background-color: $primary !important;
}

.text-loadable {
  border: none !important;
  box-shadow: none !important;
  border-radius: 5px 5px 5px 5px !important;
  transition: all 0.2s;
  background-color: $primary !important;
}

h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
} 
h4 {
  font-size: $h4-font-size;
}
h5 {
  font-size: $h5-font-size;
}
.lead {
  font-size: $lead-font-size;
}
body {
  font-size: $body-font-size;
}
small {
  font-size: $small-font-size;
}
.btn {
  border-radius: 25px;
}
.z-index-9999 {
  z-index: 9999 !important;
}
@each $color-name, $color-value in $theme-colors {
  .notification-#{$color-name} {
    background-color: lighten($color-value, 30%) !important;
    color: darken($color-value, 30%) !important;
    border-color: $color-value !important;
  }
}
.notification {
  font-size: 14px;
  color: #505050; // $dark-400 in the figma
  font-weight: 500;
  border: 1px solid $warning;

  .decoration-icon {
    margin-right: 16px;
  }

  &.notification-warning {
    background-color: $warning;
  }

  &.notification-success {
    background-color: $success;
    border-color: $success;
  }

  &.notification-error {
    background-color: $danger;
    border-color: $danger;
  }

  ul {
    border-top: 1px solid $warning;
    border-color: inherit;
    margin: 0;
  }

  li {
    line-height: 20px;
  }
}
.card {
  background: $grey-900;
  color: $white;
}

input, textarea, select {
  background: $grey-800 !important;
  border: $white !important;
  color: $white !important;
  &::placeholder {
    color: $muted !important;
  }
}

.nav-link {
  color: $white;
}

.text-muted {
  color: $muted !important;
}

th, td {
  background: transparent !important;
  color: inherit !important;
}

// Overriding only the text color for Bootstrap buttons.
// Ensures correct color referencing for each variant (using SCSS variable).

.btn-primary    { color: $primary-900 !important; }
.btn-secondary  { color: $secondary-900 !important; }
.btn-success    { color: $success-900 !important; }
.btn-danger     { color: $danger-900 !important; }
.btn-warning    { color: $warning-900 !important; }
.btn-info       { color: $info-900 !important; }


.modal{
  .modal-content {
    background: $grey-900 !important;
    color: $white !important;
  }
}


.card.transparent {
  background: transparent !important;
  color: inherit !important;
  .card-body {
    background: transparent !important;
    color: inherit !important;
  }
  input {
    background: transparent !important;
    color: inherit !important;
  }
}

.card.light {
  background: $white !important;
  color: $black !important;
  .card-body {
    background: $white !important;
    color: $black !important;
  }
  input {
    background: $white !important;
    color: $black !important;
    border: 1px solid $grey-800 !important;
    border-radius: 5px !important;
  }
}
.card.dark {
  .card-body {
    background: $dark !important;
    color: $white !important;
  }
  input {
    background: $dark !important;
    color: $white !important;
  }
  background: $dark !important;
  color: $white !important;
}