name: Deploy Production

on:
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '20.x'
      - name: Install
        run: yarn install
      - name: Build
        run: |
          export NODE_ENV=production
          echo REACT_APP_ENV=production >> .env
          sudo npm install -g firebase-tools
          rm -rf .firebase
          export REACT_APP_ENV=production
          CI= yarn build
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
      - name: Deploy
        run: |
          firebase deploy --only hosting:prod --token ${{ secrets.FIREBASE_TOKEN }}

